# Ignore all PNG images
*.png

# Alternatively, to ignore all .pth files
*.pth

# Ignore all pychache folders
__pycache__/

# Ignore data folder
data/

# Ignore all pyc files
*.pyc

# Ignore all wandb files
wandb/